<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon image -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/img-icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/img-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/img-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/img-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/img-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/img-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/img-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/img-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/img-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/img-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/img-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/img-icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/img-icon/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="img/img-icon/ms-icon-144x144.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="dashboard/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="dashboard/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="dashboard/assets/libs/css/style.css">
    <link rel="stylesheet" href="dashboard/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    
    <title>Dashboard- Government of Rivers State</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <% include includes/header %>
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">Website Administrators' Dashboard </h3>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Projects</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">120</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=project" class="card-link">View Projects</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Ministries</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">30</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=ministry" class="card-link">View Ministries</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Departments</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">500</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=department" class="card-link">View Departments</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Agencies</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">350</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=agency" class="card-link">View Agencies</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Local Government Areas</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">23</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=lgas" class="card-link">View L.G.A.s</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Executives</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">34</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=executive" class="card-link">View Executives</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Legislators</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">35</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=legislature" class="card-link">View Legislators</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total Judges</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">21</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=judiciary" class="card-link">View Judges</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Total First Class Traditional Rulers</h5>
                                <div class="card-body">
                                    <div class="metric-value d-inline-block text-center">
                                        <h1 class="mb-1 text-center">15</h1>
                                    </div>
                                </div>
                                <div class="card-footer text-center bg-white">
                                    <a href="/update?type=ruler" class="card-link">View Kings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2018. All rights reserved. Dashboard for Rivers State Government Website. 
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- jquery 3.3.1  -->
    <% include includes/footer %>
</body>
</html>
