<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Government of Rivers State</title> 

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="img/img-icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/img-icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/img-icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/img-icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/img-icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/img-icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/img-icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/img-icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/img-icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/img-icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/img-icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/img-icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/img-icon/favicon-16x16.png">
<meta name="msapplication-TileImage" content="img/img-icon/ms-icon-144x144.png">

<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Karla:400,700i,700|Poppins:800" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/modifications.css" rel="stylesheet" media="screen">
<link href="css/xl.css" rel="stylesheet" media="screen">
<link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>
  
    <!-- Loader -->  
    <header id="top" class="header-home" style="background: white;">

      <div class="brand-panel" style="width: 12.5em; height: 12.5em; padding-left:0px; padding-top:30px;">
        <a href="/" class="brand js-target-scroll">
          <img alt="" class="img-responsive" src="img/statelogo.png" style="width: 50%; margin:auto" >
          <h5 style="font-family: 'Poppins',sans-serif; float:left; margin:auto; margin-top:10%;   ">RIVERS STATE GOVERNMENT</h5>
        </a>
      </div>
      <div class="vertical-panel-content" style="background: white; width:6.75em;">
        <div class="vertical-panel-info">
            <div class="vertical-panel-title"></div>
            <div class="line" style="background:#0544A8;"></div>
         </div>
        <ul class="social-list">
         
          <li><a href="" class="fa fa-instagram fa-3x" style="color:#0544A8;"></a></li>
          <li><a href="" class="fa fa-twitter fa-3x" style="color:#0544A8;"></a></li>
          <li><a href="" class="fa fa-facebook fa-3x"style="color:#0544A8;"></a></li>
           <li><a href="" class="" style="writing-mode: vertical-rl; text-orientation: mixed; transform: scale(-1, -1);  word-spacing: 0.3em; padding:auto; font-family: 'Karla'; font-weight: bold; ">JOIN THE CONVERSATION</a></li>

         </ul>  
      </div> 

      <!-- Navigation Desctop -->
      <nav class="navbar-desctop visible-md visible-lg" style="background: #fff;">
        <div class="container">
          <ul class="navbar-desctop-menu">
            <li class="active">
              <a href="#">THE GOVERNMENT</a>
              <ul>
                <li>
                  <a href="/executive.html">THE EXECUTIVE</a>
                </li>
                <li>
                  <a href="/judiciary.html">THE JUDICIARY</a>
                </li>
                <li>
                  <a href="#">THE LEGISLATURE</a>
                </li>
                <li>
                  <a href="#">LOCAL GOVERNMENTS</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">RIVERS STATE</a>
              <ul>
                <li>
                  <a href="/state.html">THE STATE</a>
                </li>
                <li>
                  <a href="/biography.html">THE GOVERNOR</a>
                </li>
                <li>
                  <a href="/deputy.html">THE DEPUTY GOVERNOR</a>
                </li>
                
              </ul>
            </li>
            <li>
              <a href="/mdas.html">MDAs</a>
            </li>  
            <li>
              <a href="/media.html">MEDIA</a>
            </li>
            <li>
              <a href="/maps.html">PROJECTS</a>
            </li>
            <li>
              <a href="#">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Navigation Mobile -->

      <nav class="navbar-mobile">
          <a  style="color: #0544A8;" class="brand js-target-scroll">
            <a href="/" >
              <img alt="" class="img-responsive " src="img/statelogo.png" style="display:inline-block; width: 10%;" >
              <p style="display: inline-block;color:#0544A8; font-family:'Poppins'; font-size:4vmin; margin-bottom: 0px !important; margin-left:3%;">  RIVERS STATE GOVERMENT</p>
            </a>
            <button style="float:right; margin-top:3%;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar" style="background: rgb(5,68,168);"></span>
              <span class="icon-bar" style="background: rgb(5,68,168);"></span>
              <span class="icon-bar" style="background: rgb(5,68,168);"></span>
            </button>
          </a>
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="navbar-mobile"> 
          <ul class="navbar-nav-mobile">
            <li>
              <a href="/">HOME</a>
            </li>
            <li class="active">
              <a href="#">THE GOVERNMENT</a>
              <ul>
                <li>
                  <a href="/executive.html">THE EXECUTIVE</a>
                </li>
                <li>
                  <a href="/judiciary.html">THE JUDICIARY</a>
                </li>
                <li>
                  <a href="#">THE LEGISLATURE</a>
                </li>
                <li>
                  <a href="#">LOCAL GOVERNMENTS</a>
                </li>
              </ul>
            </li>
             <li>
              <a href="#">RIVERS STATE</a>
              <ul>
                <li>
                  <a href="/state.html">THE STATE</a>
                </li>
                <li>
                  <a href="/biography.html">THE GOVERNOR</a>
                </li>
                <li>
                  <a href="/deputy.html">THE DEPUTY GOVERNOR</a>
                </li>
                
              </ul>
            </li>
            <li>
              <a href="/mdas.html">MDAs</a>
            </li>  
            <li>
              <a href="/media.html">MEDIA</a>
            </li>
            <li>
              <a href="/maps.html">PROJECTS</a>
            </li>
            <li>
              <a href="#">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav> 
    </header>
  <!-- Layout -->

  <div class="layout">
    
    <!-- Home -->
    
    <main class="main">
      <!-- Start revolution slider -->

      <section class="bgslider">
        <div class="container " >
          <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-10 col-lg-10 slider-content rm-l-20">
              <div class="row" >
                <h1 class="color-white">THE GARDEN CITY OF NIGERIA</h1>
                <p class="slider-text">A people with a common purpose and <br>a shared destiny of prosperity</p>
                <a href="/state.html" class="bold-anchor btn btn--modified">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


    <section class="blog-list section m-b-0" style="margin-top:3%;">
      <div class="container m-b-0">
        <div class="row">
          <div class="col-lg-1  col-md-1 "></div>
          <div class="col-lg-11  col-md-11 1">
            <div class="row" >
              <div class="col-lg-6 col-sm-6 col-md-6 secondary-bg blog-hdr" >
                <div class="row">
                  <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 p-0 " >
                    <img src="img/aboutrivers.jpg" class="img-responsive hundred images m-l-0">
                    <img src="img/play.svg" style="top:50%" class="plus-image">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 m-t-30">
                    <h4 class="color-white bold" >ABOUT<br>RIVERS<br>STATE</h4>
                    <a href="/state.html" class="page-anchor"> VIEW MORE</a>
                  </div>
                </div>
                <div class="row" >
                  <div class="col-lg-12 col-sm-12 col-md-12 2 home-about">
                    <h4 class="bold color-white">THE STATE- ONE PEOPLE, ONE VOICE</h4>
                    <p class="fw-700">A PEOPLE WITH A DIVERSE HERITAGE</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 blog-hdr primary-bg">
                <div class="row" >
                  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 m-t-30 " style="padding-right:2%;  direction: rtl;">
                    <h4 class="color-white bold">ABOUT<br>THE<br>GOVERNOR</h4>
                    <a href="/biography.html" class="page-anchor">READ MORE</a>
                  </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 p-0 ">
                    <img src="img/wike2.png" class="img-responsive hundred images m-l-0">
                  </div>
                </div>
                <div class="row" >
                  <div class="col-lg-2 col-md-1  col-xs-5 "></div>
                  <div class="col-lg-10 col-md-11 col-sm-12 col-xs-7 home-about">
                    <h4 class="color-white bold" style="direction:rtl">GOV. EZENWO NYESOM WIKE, CON</h4>
                    <p class="color-secondary" style="direction: rtl;">GOVERNOR, RIVERS STATE</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="blog-list section" style="margin-top:3%;">
      <div class="container m-b-0">
        <div class="row">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-11 col-md-11">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-md-12 2">
                <div class=" pull-right" style="display:inline-block">
                  <h4 class="headline" style="font-size:1.5em; margin:auto;">GOVERNMENT HEADLINES</h4>
                </div>
              </div>
            </div>
            <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 p-0 " style="background: rgb(242,242,242); margin-top:2%px;">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 p-0" >
              <img src="img/droneview.png" class=" m-l-0 m-r-0 p-0 img-responsive hundred">
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 home-headlines " >
              <h4 class="bold m-b-0" style="font-size:0.9em; ">Governor Wike commissions school farm business initiative</h4>
              <p class="news__details" >AUG 16, 2017 | Weli Orlu</p>
              <p class="news__summary"  >The Commissioner Ministry for Special Duties, Barr. Monday Onyezonwu, in his remark to the people has cautioned members of the public to properly manage tires and other inflammable materials to prevent and curb fire outbreak in the State.</p>
              <p class="news__social m-b-0" >
                <a href="/news.html" style=" font-size:0.8em; !important;">READ MORE</a>
                <span class="pull-right" style="color:rgb(7,68,168); ">
                  <i class="fa fa-facebook " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-twitter " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-instagram " style="padding:0px 5px 0px 5px"> </i>
                </span>
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 " style="background: rgb(242,242,242); margin-top:2%px; padding: 0px;">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 " style="padding:0px">
              <img style="margin-right:0px; padding:0px; margin-left: 0px; margin-right:0px; " src="img/gboss.png" class="img-responsive hundred">
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 home-headlines " style="padding-bottom:0; ">
              <h4 style="font-size:0.9em; font-weight: bold; margin-bottom:0px;">Governor Wike commissions school farm business initiative.</h4>
              <p class="news__details" >AUG 16, 2017 | Weli Orlu</p>
              <p class="news__summary"  >The Commissioner Ministry for Special Duties, Barr. Monday Onyezonwu, in his remark to the people has cautioned members of the public to properly manage tires and other inflammable materials to prevent and curb fire outbreak in the State.</p>
              <p class="news__social" >
                <a href="/news.html" style=" font-size:0.8em; !important;">READ MORE</a>
                <span class="pull-right" style="color:rgb(7,68,168); ">
                  <i class="fa fa-facebook " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-twitter " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-instagram " style="padding:0px 5px 0px 5px"> </i>
                </span>
              </p>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>
    <style type="text/css">
 
    </style>
    <!-- media -->
    <section class="blog-list section" style="background:#0544A8; padding: 20px; margin-top: -5%; margin-bottom:2%;">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-11 col-md-11">
            <div class="row">
              
              <div class=" pull-right" style="display:inline-block">
                <h4 style="color:white; margin-top:20%; margin-left: -80px; font-size: 1.5em;">MEDIA</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12 ">
                <img src="img/veggies.png" class="img-responsive hundred">
                <img src="img/play.svg" style="top:50%" class="plus-image">
                <p class="plus-image pull-left" style=" left:5vw; top:95%; color:white; word-spacing: 0.3em;"> Faithfulness</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 p-r-0 ">
                <div>
                  <img src="img/uncompleted.png" class="img-responsive product-holder hundred" style="margin-bottom:5%; ">
                  <img src="img/play.svg" class="plus-image" style="top:50%;">
                  <p class="plus-image pull-left" style=" top:90%; left:5vw; color:white; word-spacing: 0.3em;"> Service </p>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <img src="img/slider/woman-nafest.png" style="width: 100%;" class="p-0 img-responsive hundred">
                <img src="img/play.svg" style="top:50%" class="plus-image">
                <p class="plus-image pull-left color-white" style=" top:95%; margin-left: 1%;  left:5vw;  word-spacing: 0.3em;"> Construction</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12  news__quote primary-bg p-30" >
                <span> "</span>
                <blockquote class="color-white" style="border:none; font-family:Karla; ">
                 RIVERS STATE GOVERNMENT TO COMMISSION THE MULTI-MILLION NAIRA SCRAP METALS RECYCLING PLANT 
                </blockquote><span class="pull-right"> " </span>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="fs-8 color-secondary" style="color:#00B1E6; font-weight: bold;margin-top:0px; margin-bottom:0px;  ">THE GOVERNOR IS DRIVING THE RECYCLING NARRATIVE </p>
                    <p class="pull-left fs-8 " style="color:white; font-weight: bold; margin-top:10px; margin-bottom:0px; ">AUG 16, 2018</p>
                    <a href="/news.html" class="page-anchor pull-right m-t-10">READ MORE</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12  p-r-0 ">
                <img src="img/slider/444.jpg" class="img-responsive hundred" style="width:100%;">
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <div class="content">   

      <!-- projects -->
      <section class="projects section p-t-0 m-t-0" style="margin-bottom:2%;">
        <div class="container" >
          <div class="row p-0" >
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-11 col-md-11 p-r-0">
              <h3 class="pull-right color-secondary" >PROJECTS</h3>
            </div>
          </div>
          <div class="row">
          <div class="col-lg-1 col-md-1">
          </div>
          <div class="col-lg-11 col-md-11 p-r-0" style="">
            <div class="section-content primary-bg m-t-0" style="padding-bottom: 2%; ">
              <div class="projects-carousel js-projects-carousel js-projects-gallery">
                <div class="project project-light">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/1.html'>Go to project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title">
                          JUDICIARY COMPLEX IN ABONEMA
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Commissioned<br> 
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" class="project__description" >RVSG commissions a block of classrooms in Port Harcourt Local Government.</p>
                  </div>
                </div>
                <div class="project project-light">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/2.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          MOTHER AND CHILD HOSPITAL, ETCHE
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;">
                          Completed<br> 
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >Mother and Child Hospital built in Khana Local Government.</p>
                  </div>
                </div>
                <div class="project">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/3.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          ABONEMA-DEGEMA LINK ROAD, ABONEMA
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Ongoing<br>
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >Rebuilt link road between Abonema and Degema for the people.</p>
                  </div>
                </div>
                <div class="project">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/4.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          COMMUNITY PRIMARY SCHOOL, RUMUOMASI
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Inherited<br>
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >Refurbishment of Community Primary School, Rumuomasi for the future generation</p>
                  </div>
                </div>
                <div class="project">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/5.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          KHANA-GOKHANA LINK ROAD, KHANA
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Ongoing<br>
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >New road connecting Khana and Gokhana spurring new opportunities for all.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <section class="projects section" style="padding-top: 0px; margin-top: 0px;">
        <div class="container" >
          <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-11 col-md-11">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="pull-right" style="color:rgb(0,177,230);">INITIATIVES</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background:rgb(4,90,137);">
                  <h4>RivTaMiS</h4>
                  <img src="img/initiatives/rivtamis.jpg" class="img-responsive">
                  <p>Own your</p>
                  <h4>Responsibility </h4>
                  <a href="https://rivtamis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: rgb(255,170,0);">
                  <h4>RivPuSMiS</h4>
                  <img src="img/initiatives/rivpusmis.png" class="img-responsive">
                  <p>Effective public</p>
                  <h4>Service management</h4>
                  <a href="https://rivpusmis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: rgb(87,7,110);">
                  <h4>RivCoMiS</h4>
                  <img src="img/initiatives/rivcomis.png" class="img-responsive">
                  <p>Enabling businesses</p>
                  <h4>Empowering the people</h4>
                  <a href="https://rivcomis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: green;">
                  <h4>RivLaMis</h4>
                  <img src="img/initiatives/statelogo.png" class="img-responsive">
                  <p>Effective land</p>
                  <h4>Records management</h4>
                  <a href="https://rivlamis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background:rgb(2,160,223); ">
                  <h4>RivJobs</h4>
                  <img src="img/initiatives/rivjobs.png" class="img-responsive">
                  <p>Your portal for</p>
                  <h4>Career Solutions</h4>
                  <a href="https://rivjobs.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: blue;">
                  <h4>TechCreek</h4>
                  <img src="img/initiatives/techcreek.png" class="img-responsive">
                  <p>A habitat for</p>
                  <h4>Creativity and innovation</h4>
                  <a href="https://techcreek.gov.ng"><button>Visit</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- investment opportunities -->
      <section class="blog-list section">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-11 col-md-11">
              <div class="row">
            <div class="col-md-4 col-lg-4 pull-right">
              <div>
                <h4 style="color:rgb(0,177,230);  font-size: 1.5em; ">INVESTMENT OPPORTUNITIES</h4>
              </div>
              <div>
                <p style="color:#0544A8; font-family: 'Poppins', sans-serif; margin-bottom: 10px; font-size: 1.2em; ">COMPARATIVE <br> ADVANTAGE</p>
              </div>
              <hr style="height:10px; width: 40%; margin-top:0px; margin-left:-1%; background-color:rgb(0,177,230)">
              <p  style="color:black;  ">Rivers state has comparative advantage with respect to some value chains due to the state’s natural resources endowments.</p>
            </div>
            <div class="col-md-8 col-lg-8 pull-left">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities" >
                  <img src="img/tourismico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment" >TOURISM</h4>
                  <p class="text-center investment_description" >Rivers State's majestic scenery makes it an ideal location for movie production.</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/ictico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">ICT</h4>
                  <p class="text-center investment_description">Universities of national and international repute with growing ICT and innovation programs</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/agriculture.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">AGRICULTURE</h4>
                  <p class="text-center investment_description">Our lands are suitable for growing staple foods and our lands can grow oil palm very well</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/oandg.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">OIL & GAS</h4>
                  <p class="text-center investment_description">The State reserve of crude oil is believed to be in the region of 30 billion barrels combined.</p>
                </div>
              </div>
              <div class="row" style="margin-top: 5%;">
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3">
                  <img src="img/energyico.svg" style="margin:auto; width:40%" class="img-responsive">
                  <h4 class="text-center investment">ENERGY</h4>
                  <p class="text-center investment_description">Its potential for renewable and non renewable power generation has been left untapped.</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3">
                  <img src="img/logisticsico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">LOGISTICS</h4>
                  <p class="text-center investment_description">Tremendous growth prospects opens up opportunity in the transport and logistics industry.
                  </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/project.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">CONSTRUCTION</h4>
                  <p class="text-center investment_description">The State is known as a major source of timber for construction and furniture making in Nigeria.
                  </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/manufacturingico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">MANUFACTURING</h4>
                  <p class="text-center investment_description">The State is known as a major source of timber for construction and furniture making in Nigeria.
                  </p>
                </div>
                
                
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </section>
 
      
      <!-- quicklinks -->
      <section class="alt-primary-bg" >
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-11 col-md-11">
              <div class="row pull-right">
                <div class="col-lg-12 col-md-12 voting-centers">
                  <h3 class="color-primary p-t-30"> VOTING CENTRES </h3>
                  <p >Find one close to you</p>
                </div>
              </div>
              <div class="row" style="padding:0px;">
                <div id="map" style="position: relative; width:100%; height: 45vh; margin-right:0px; "></div>
              </div>
              <div class="row voting-search">
                <div class="col-lg-12 col-md-12 col-sm-12 p-l-0 p-r-0">
                  <form>
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <input type="text" class="form-control search__location" name="keyword" style=" height: 48px; word-spacing: 0.3em;" placeholder="Enter your location">
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <select class="form-control search__filter " style=" font-family:'Karla',sans-serif; font-weight: bold; " name="city">
                            <option value="">Local Government</option>
                            <option value="1">Port Harcourt</option>
                            <option value="2">Emuoha</option>
                            <option value="3">Obio Akpor</option>
                            <option value="4">Okrika</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <select class="form-control search__filter " name="category"  style="word-spacing: 0.3em; font-family:'Karla',sans-serif; font-weight: bold; ">
                            <option value="">Ward</option>
                            <option value="restaurant">Rumuomasi</option>
                            <option value="car rental">Rumuokoro</option>
                            <option value="relax">Rumuodara</option>
                            <option value="sport">Rumunduru</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <button style="background: rgb(17,68,168); width:100%;"  type="submit" data-ajax-response="map"  class="btn btn-primary"><i style="color:white; " class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- sentiments analysis -->
      <section class="projects section p-t-0 m-t-0 m-b-10">
        <div class="container" >
          <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-11 col-md-11">
              <div class="row">
                <div class="col-lg-12 p-0">
                  <h3 class="pull-right" style="color:rgb(0,177,230);">COMMUNITY</h3>
                </div>
              </div>
              <div class="row">
                <div class="p-l-0 col-md-4 col-lg-4 col-sm-4 sentiment" >
                  <div class="row sentiment-header" >
                    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <img src="img/complaintico.svg" class="img-responsive sentiment__img" >
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-8 col-lg-9" >
                      <h4 class=" sentiment-body--heading" style="font-size: 1em; ">REGISTER A COMPLAINT</h4>
                    </div>
                  </div>
                  <div class="row sentiment-body">
                    <div class="col-md-12 col-lg-12 col-sm-12 ">
                      <form class="sentiment-form">
                          <div class="col-lg-12 col-md-12">
                            <p class="color-white" style="font-family: 'Poppins'; margin:10px auto; ">Talk to us, we are listening</p>
                            <label for="name" >NAME</label>
                            <br>
                            <input type="text" name="name" id="name"  />
                          </div>
                          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                            <label for="email" >EMAIL</label>
                            <br>
                            <input type="email" name="email" id="email"  />
                          </div>
                          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                            <label for="phone" >PHONE NO.</label>
                            <br>
                            <input type="phone" name="phone" id="phone"  />
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <label for="location" >LOCATION</label>
                            <br>
                            <input type="text" name="location" id="location"  />
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <label for="complaint" >COMPLAINT</label>
                            <br>
                            <textarea name="complaint" id="complaint" style=" height: 150px; ">
                            </textarea> 
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <button class="pull-right" type="submit" style="outline:none; margin-top:5%; font-size: 12px; border:none; padding: 5px 10px; color:white; background: #00B1E6; font-family:'Poppins' ">COMPLAIN</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 sentiment" >
                  <div class="row sentiment-header" style="padding:auto 0px; background: #00B1E6;">
                    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <img src="img/searchico.svg" class="img-responsive sentiment__img" >
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-8 col-lg-9" >
                      <h4 class=" sentiment-body--heading" style="font-size: 1em; margin-top:10%; margin-left:2%; ">FIND A SERVICE</h4>
                    </div>
                  </div>
                  <div class="row sentiment-body" style="background: #0544A8">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <form>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search">
                          <input type="text" name="search" class="search__input"  />
                          <input type="submit" name="" class="search__submit">
                        </div>
                      </form>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h4 class="search__quick col-md-6">SEARCH ALL</h4>
                      <h4 class="search__quick col-md-6">MOST POPULAR</h4>
                      <h4 class="search__quick">DEPARTMENTS/INITIATIVES</h4>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 search-services ">
                      <ul class="search__list">
                        <li><a> All Service Categories </a></li>
                        <li><a> Business & Economic Development</a></li>
                        <li><a> City Management & Performance</a></li>
                        <li><a> City Planning & Zoning</a></li>
                        <li><a> Community Development</a></li>
                        <li><a> Courts & Jury Duty</a></li>
                        <li><a> Education & Libraries</a></li>
                        <li><a> Environment & Sustainability</a></li>
                        <li><a> Fitness & Recreation</a></li>
                        <li><a> Garbage, Recycling & Junk</a></li>
                        <li><a> Health & Wellness</a></li>
                        <li><a> Jobs & Career Development</a></li>
                        <li><a> Legal & Professional Records</a></li>
                        <li><a> Permits, Applications & Licenses</a></li>
                        <li><a> Property Maintenance & Code Enforcement</a></li>
                        <li><a> Public Safety</a></li>
                        <li><a> Revenue & Taxes</a></li>
                        <li><a> Social Services</a></li>
                        <li><a> Streets, Sidewalks & Trees</a></li>
                        <li><a> Utilities</a></li>
                        <li><a> Vehicles, Parking & Transportation</a></li>
                        <li><a> Volunteer & Donate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="p-r-0 col-md-4 col-lg-4 col-sm-4 sentiment" >
                  <div class="row sentiment-header" style="background: #707070; ">
                    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <img style="" src="img/img-icon/twitter.svg" class="img-responsive sentiment__img " >
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-8 col-lg-9" >
                      <h4 class=" sentiment-body--heading" style="font-size: 1em; margin-top:10%; ">JOIN THE CONVERSATION</h4>
                    </div>
                  </div>
                  <div class="row sentiment-body" style="background: #F2F2F2;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div style=" background: #F2F2F2;   height:400px; margin-top:20px; overflow-y: scroll;">
                        <a class="twitter-timeline" href="https://twitter.com/GovWike?ref_src=twsrc%5Etfw">Tweets by GovWike</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- newsletter section -->
      <section class="section newsletter" >
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <h3 class="sentiment-body--heading color-primary bold">NEWSLETTER - SUBSCRIPTION</h3>
              <input type="email" placeholder="ENTER EMAIL ADDRESS" name="email" style="height: 7vh; color:white; background:rgb(149,149,149); width: 80%; margin-right:-0.3%; border:none"> <button style="height: 7vh; width:100px; padding:10px 10px; background: rgb(0,177,230); color:white; margin-left:none; border:none;  word-spacing:0.3em;">JOIN</button>
            </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

          </div>
        </div>
      </section>

      <div class="content">   
      <!-- Footer -->
        <footer id="footer" style="background: rgb(5,68,168); height:150px; margin-top:0px; margin-bottom:0px; " class="footer">   
          <div class="container">
            <div class=" row">
              <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12  text-center" style="margin-top:50px;">
                <p style="color:white;">COPYRIGHT © 2018 RIVERS STATE GOVERNMENT. ALL RIGHTS RESERVED.</p>
              </div>
            </div>
          </div>
        </footer>
      </div>


      <!-- Lines -->

      
    </div>
  </div>

<!-- SCRIPTS -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/interface.js"></script> 
<script type="text/javascript">
  function initMap() {
    // The location of ph 4.8156° N, 7.0498° E
    var ph = [{lat: 4.8156, lng: 7.0498},
              {lat: 4.8166, lng: 7.1498},
              {lat: 4.8176, lng: 7.0498},
              {lat: 4.8256, lng: 7.1498},
              {lat: 4.8256, lng: 7.0498},
              {lat: 4.8146, lng: 7.0490},
              {lat: 4.8256, lng: 7.1498},
              {lat: 4.8666, lng: 7.0408},
              {lat: 4.8176, lng: 7.2498},
              {lat: 4.7156, lng: 7.1498}];
    // The map, centered at Uluru
    var infowindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, center: ph[0]});
    // The marker, positioned at Uluru
    var marker
    for(var i = 0; i < ph.length; i++){
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(ph[i]['lat'], ph[i]['lng']),
        map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(ph[i]['lat']+' , '+ph[i]['lng']);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgcIBxOwvodgUpjE3v5mjZXJeQm77AtL4&callback=initMap">
  </script>
</body>
</html>