<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Government of Rivers State</title> 

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="img/img-icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/img-icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/img-icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/img-icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/img-icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/img-icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/img-icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/img-icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/img-icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/img-icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/img-icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/img-icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/img-icon/favicon-16x16.png">
<meta name="msapplication-TileImage" content="img/img-icon/ms-icon-144x144.png">

<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Karla:400,700i,700|Poppins:800" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/modifications.css" rel="stylesheet" media="screen">
<link href="css/xl.css" rel="stylesheet" media="screen">
<link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>
  
    <!-- Loader -->

    
    <%- include includes/header %>
  <!-- Layout -->

  <div class="layout">
    
    <!-- Home -->
    
    <main class="main">

      <style type="text/css">
        .bgslider{
          background: linear-gradient(rgba(5, 68, 179, 0.5),rgba(5, 68, 179, 0.5)), url(img/slider/people.jpg);
          background-position: center center;
          height: 100vh;
          padding-top: 0px;
          background-size: cover;
        }
        .slider-content{
          margin-top:50vh;
          left:0vw;
        }

        .slider-content h2 {
          font-size:4em;
        }

        .slider-content p{
          font-size:1.5em;
        }
        
        @media (max-width: 1640px){
          .slider-content{
            margin-top:60vh;
            font-size:0.5em;
            left:7vw;
          }
        }
        @media (max-width: 1360px){
          .slider-content{
            left:20vw;
          }
        }
        @media (min-width: 1600px){
          .slider-content{
            left:15vw;
          }
        }
        @media (max-width: 568px){
          .bgslider{
            height: 100vh;
          }
          .slider-content{
            margin-top:40vh;
            left:25vw;
          }
          .slider-content h2 {
            font-size:3em;
          }
        }
        .btn--modified{
          border-radius: 0px;
        }
      </style>
      <!-- Start revolution slider -->

      <section class="bgslider">
        <div class="container " >
          <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-10 col-lg-10 slider-content rm-l-20">
              <div class="row" >
                <h1 class="color-white">THE GARDEN CITY OF NIGERIA</h1>
                <p class="slider-text">A people with a common purpose and <br>a shared destiny of prosperity</p>
                <a href="/state.html" class="bold-anchor btn btn--modified">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Blog List  -->

    <section class="blog-list section m-b-0" style="margin-top:3%;">
      <div class="container m-b-0">
        <div class="row">
          <div class="col-lg-1  col-md-1 "></div>
          <div class="col-lg-11  col-md-11 1">
            <div class="row" >
              <div class="col-lg-6 col-sm-6 col-md-6 secondary-bg blog-hdr" >
                <div class="row">
                  <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 p-0 " >
                    <img src="img/aboutrivers.jpg" class="img-responsive hundred images m-l-0">
                    <img src="img/play.svg" style="top:50%" class="plus-image">
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 m-t-30">
                    <h4 class="color-white bold" >ABOUT<br>RIVERS<br>STATE</h4>
                    <a href="/state.html" class="page-anchor"> VIEW MORE</a>
                  </div>
                </div>
                <div class="row" >
                  <div class="col-lg-12 col-sm-12 col-md-12 2 home-about">
                    <h4 class="bold color-white">THE STATE- ONE PEOPLE, ONE VOICE</h4>
                    <p class="fw-700">A PEOPLE WITH A DIVERSE HERITAGE</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 blog-hdr primary-bg">
                <div class="row" >
                  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 m-t-30 " style="padding-right:2%;  direction: rtl;">
                    <h4 class="color-white bold">ABOUT<br>THE<br>GOVERNOR</h4>
                    <a href="/biography.html" class="page-anchor">READ MORE</a>
                  </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 p-0 ">
                    <img src="img/wike2.png" class="img-responsive hundred images m-l-0">
                  </div>
                </div>
                <div class="row" >
                  <div class="col-lg-2 col-md-1  col-xs-5 "></div>
                  <div class="col-lg-10 col-md-11 col-sm-12 col-xs-7 home-about">
                    <h4 class="color-white bold" style="direction:rtl">GOV. EZENWO NYESOM WIKE, CON</h4>
                    <p class="color-secondary" style="direction: rtl;">GOVERNOR, RIVERS STATE</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-list section" style="margin-top:3%;">
      <div class="container m-b-0">
        <div class="row">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-11 col-md-11">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-md-12 2">
                <div class=" pull-right" style="display:inline-block">
                  <h4 class="headline" style="font-size:1.5em; margin:auto;">GOVERNMENT HEADLINES</h4>
                </div>
              </div>
            </div>
            <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 p-0 " style="background: rgb(242,242,242); margin-top:2%px;">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 p-0" >
              <img src="img/droneview.png" class=" m-l-0 m-r-0 p-0 img-responsive hundred">
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 home-headlines " >
              <h4 class="bold m-b-0" style="font-size:0.9em; ">Governor Wike commissions school farm business initiative</h4>
              <p class="news__details" >AUG 16, 2017 | Weli Orlu</p>
              <p class="news__summary"  >The Commissioner Ministry for Special Duties, Barr. Monday Onyezonwu, in his remark to the people has cautioned members of the public to properly manage tires and other inflammable materials to prevent and curb fire outbreak in the State.</p>
              <p class="news__social m-b-0" >
                <a href="/news.html" style=" font-size:0.8em; !important;">READ MORE</a>
                <span class="pull-right" style="color:rgb(7,68,168); ">
                  <i class="fa fa-facebook " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-twitter " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-instagram " style="padding:0px 5px 0px 5px"> </i>
                </span>
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6 " style="background: rgb(242,242,242); margin-top:2%px; padding: 0px;">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 " style="padding:0px">
              <img style="margin-right:0px; padding:0px; margin-left: 0px; margin-right:0px; " src="img/gboss.png" class="img-responsive hundred">
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 home-headlines " style="padding-bottom:0; ">
              <h4 style="font-size:0.9em; font-weight: bold; margin-bottom:0px;">Governor Wike commissions school farm business initiative.</h4>
              <p class="news__details" >AUG 16, 2017 | Weli Orlu</p>
              <p class="news__summary"  >The Commissioner Ministry for Special Duties, Barr. Monday Onyezonwu, in his remark to the people has cautioned members of the public to properly manage tires and other inflammable materials to prevent and curb fire outbreak in the State.</p>
              <p class="news__social" >
                <a href="/news.html" style=" font-size:0.8em; !important;">READ MORE</a>
                <span class="pull-right" style="color:rgb(7,68,168); ">
                  <i class="fa fa-facebook " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-twitter " style="padding:0px 5px 0px 5px"> </i>
                  <i class="fa fa-instagram " style="padding:0px 5px 0px 5px"> </i>
                </span>
              </p>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>

    <style type="text/css">
      .product-holder {
        position: relative;
        display: block;
      }

      .plus-image {
        left: 50%;
        top: 20%;
        position: absolute;
        margin-top: -25px;
        margin-left: -25px;
        width: 10%;
      }
      .news__quote blockquote{
        padding:0px;
      }
      @media (max-width: 568px){
        .news__quote{
          
          padding:auto;
          width:100%;
          border:1px solid white;
          margin:2% auto;
        }
        .news__quote p, .news__quote a, .news__quote blockquote{
          font-size: 0.7em;
        }
      }
      @media (min-width:1600px){
        .news__quote blockquote, .news__quote p{
          font-size:1.5em;
        }
      }
    </style>
    <!-- media -->
    <section class="blog-list section" style="background:#0544A8; padding: 20px; margin-top: -5%; margin-bottom:2%;">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-11 col-md-11">
            <div class="row">
              
              <div class=" pull-right" style="display:inline-block">
                <h4 style="color:white; margin-top:20%; margin-left: -80px; font-size: 1.5em;">MEDIA</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12 ">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/gHo0uTguvtk?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div>
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/kLQ3HojGdt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <img src="img/slider/woman-nafest.png" style="width: 100%;" class="p-0 img-responsive hundred">
                <img src="img/play.svg" style="top:50%" class="plus-image">
                <p class="plus-image pull-left color-white" style=" top:95%; margin-left: 1%;  left:5vw;  word-spacing: 0.3em;"> Construction</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12  news__quote primary-bg p-30" >
                <span> "</span>
                <blockquote class="color-white" style="border:none; font-family:Karla; ">
                 RIVERS STATE GOVERNMENT TO COMMISSION THE MULTI-MILLION NAIRA SCRAP METALS RECYCLING PLANT 
                </blockquote><span class="pull-right"> " </span>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="fs-8 color-secondary" style="color:#00B1E6; font-weight: bold;margin-top:0px; margin-bottom:0px;  ">THE GOVERNOR IS DRIVING THE RECYCLING NARRATIVE </p>
                    <p class="pull-left fs-8 " style="color:white; font-weight: bold; margin-top:10px; margin-bottom:0px; ">AUG 16, 2018</p>
                    <a href="/news.html" class="page-anchor pull-right m-t-10">READ MORE</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12  p-r-0 ">
                <img src="img/slider/444.jpg" class="img-responsive hundred" style="width:100%;">
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <div class="content">   
      <style type="text/css">

        @media (min-width: 1600px){
          .initiative{
            height: 450px;
          }
          .initiative a button {
            position:absolute;
            top:400px;
          }
        }
        .initiative p, .initiative h4{
          color:white;
        }
        .initiative h4{
          margin-top:0px;
        }
        .initiative p{
          margin-bottom: 0px;
        }
        .initiative h4:nth-child(1){
          margin-top:10px;
        }
        .initiative button{
          background: inherit;
          outline:none;
          border:1px solid white;
          padding:auto 15px;
          color:white;
          float:right;
        }
        
      </style>
      <!-- projects -->
 <section class="projects section p-t-0 m-t-0" style="margin-bottom:2%;">
        <div class="container" >
          <div class="row p-0" >
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-11 col-md-11 p-r-0">
              <h3 class="pull-right color-secondary" >PROJECTS</h3>
            </div>
          </div>
          <div class="row">
          <div class="col-lg-1 col-md-1">
          </div>
          <div class="col-lg-11 col-md-11 p-r-0" style="">
            <div class="section-content primary-bg m-t-0" style="padding-bottom: 2%; ">
              <div class="projects-carousel js-projects-carousel js-projects-gallery">
                <div class="project project-light">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/1.html'>Go to project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title">
                          JUDICIARY COMPLEX IN ABONEMA
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Commissioned<br> 
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" class="project__description" >RVSG commissions a block of classrooms in Port Harcourt Local Government.</p>
                  </div>
                </div>
                <div class="project project-light">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/2.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          MOTHER AND CHILD HOSPITAL, ETCHE
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;">
                          Completed<br> 
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >Mother and Child Hospital built in Khana Local Government.</p>
                  </div>
                </div>
                <div class="project">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/3.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          ABONEMA-DEGEMA LINK ROAD, ABONEMA
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Ongoing<br>
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >Rebuilt link road between Abonema and Degema for the people.</p>
                  </div>
                </div>
                <div class="project">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/4.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          COMMUNITY PRIMARY SCHOOL, RUMUOMASI
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Inherited<br>
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >Refurbishment of Community Primary School, Rumuomasi for the future generation</p>
                  </div>
                </div>
                <div class="project">
                  <a href="img/projects/hospitals.jpg" title="<a style='color:white;' href='/5.html'>View project</a>">
                    <figure>
                      <img alt="" src="img/projects/hospitals.jpg">
                      <figcaption>
                        <h4 class="project-title" >
                          KHANA-GOKHANA LINK ROAD, KHANA
                        </h4>
                        <h3 class="project-title" style="font-size:1em; font-weight: bold;" >
                          Ongoing<br>
                        </h3>
                        <div class="project-zoom"></div>
                      </figcaption>
                    </figure>
                  </a>
                  <div class="project-bg">
                    <p class="project__description" >New road connecting Khana and Gokhana spurring new opportunities for all.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>

      <section class="projects section" style="padding-top: 0px; margin-top: 0px;">
        <div class="container" >
          <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-11 col-md-11">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="pull-right" style="color:rgb(0,177,230);">INITIATIVES</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background:rgb(4,90,137);">
                  <h4>RivTaMiS</h4>
                  <img src="img/initiatives/rivtamis.jpg" class="img-responsive">
                  <p>Own your</p>
                  <h4>Responsibility </h4>
                  <a href="https://rivtamis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: rgb(255,170,0);">
                  <h4>RivPuSMiS</h4>
                  <img src="img/initiatives/rivpusmis.png" class="img-responsive">
                  <p>Effective public</p>
                  <h4>Service management</h4>
                  <a href="https://rivpusmis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: rgb(87,7,110);">
                  <h4>RivCoMiS</h4>
                  <img src="img/initiatives/rivcomis.png" class="img-responsive">
                  <p>Enabling businesses</p>
                  <h4>Empowering the people</h4>
                  <a href="https://rivcomis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: green;">
                  <h4>RivLaMis</h4>
                  <img src="img/initiatives/statelogo.png" class="img-responsive">
                  <p>Effective land</p>
                  <h4>Records management</h4>
                  <a href="https://rivlamis.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background:rgb(2,160,223); ">
                  <h4>RivJobs</h4>
                  <img src="img/initiatives/rivjobs.png" class="img-responsive">
                  <p>Your portal for</p>
                  <h4>Career Solutions</h4>
                  <a href="https://rivjobs.gov.ng"><button>Visit</button></a>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6 initiative" style="background: blue;">
                  <h4>TechCreek</h4>
                  <img src="img/initiatives/techcreek.png" class="img-responsive">
                  <p>A habitat for</p>
                  <h4>Creativity and innovation</h4>
                  <a href="https://techcreek.gov.ng"><button>Visit</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- investment opportunities -->
      <section class="blog-list section">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-11 col-md-11">
              <div class="row">
            <div class="col-md-4 col-lg-4 pull-right">
              <div>
                <h4 style="color:rgb(0,177,230);  font-size: 1.5em; ">INVESTMENT OPPORTUNITIES</h4>
              </div>
              <div>
                <p style="color:#0544A8; font-family: 'Poppins', sans-serif; margin-bottom: 10px; font-size: 1.2em; ">COMPARATIVE <br> ADVANTAGE</p>
              </div>
              <hr style="height:10px; width: 40%; margin-top:0px; margin-left:-1%; background-color:rgb(0,177,230)">
              <p  style="color:black;  ">Rivers state has comparative advantage with respect to some value chains due to the state’s natural resources endowments.</p>
            </div>
            <div class="col-md-8 col-lg-8 pull-left">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities" >
                  <img src="img/tourismico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment" >TOURISM</h4>
                  <p class="text-center investment_description" >Rivers State's majestic scenery makes it an ideal location for movie production.</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/ictico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">ICT</h4>
                  <p class="text-center investment_description">Universities of national and international repute with growing ICT and innovation programs</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/agriculture.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">AGRICULTURE</h4>
                  <p class="text-center investment_description">Our lands are suitable for growing staple foods and our lands can grow oil palm very well</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/oandg.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">OIL & GAS</h4>
                  <p class="text-center investment_description">The State reserve of crude oil is believed to be in the region of 30 billion barrels combined.</p>
                </div>
              </div>
              <div class="row" style="margin-top: 5%;">
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3">
                  <img src="img/energyico.svg" style="margin:auto; width:40%" class="img-responsive">
                  <h4 class="text-center investment">ENERGY</h4>
                  <p class="text-center investment_description">Its potential for renewable and non renewable power generation has been left untapped.</p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3">
                  <img src="img/logisticsico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">LOGISTICS</h4>
                  <p class="text-center investment_description">Tremendous growth prospects opens up opportunity in the transport and logistics industry.
                  </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/project.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">CONSTRUCTION</h4>
                  <p class="text-center investment_description">The State is known as a major source of timber for construction and furniture making in Nigeria.
                  </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 col-md-3 opportunities">
                  <img src="img/manufacturingico.svg" style="margin:auto; width:50%" class="img-responsive">
                  <h4 class="text-center investment">MANUFACTURING</h4>
                  <p class="text-center investment_description">The State is known as a major source of timber for construction and furniture making in Nigeria.
                  </p>
                </div>
                
                
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </section>
      <style type="text/css">

      </style>
      
      
      <!-- quicklinks -->
      <section class="alt-primary-bg" >
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-11 col-md-11">
              <div class="row pull-right">
                <div class="col-lg-12 col-md-12 voting-centers color-white">
                  <h3 class="color-white p-t-30"> VOTING CENTRES </h3>
                  <p class="color-white" >Find one close to you</p>
                </div>
              </div>
              <div class="row" style="padding:0px;">
                <div id="map" style="position: relative; width:100%; height: 45vh; margin-right:0px; "></div>
              </div>
              <div class="row voting-search">
                <div class="col-lg-12 col-md-12 col-sm-12 p-l-0 p-r-0">
                  <form>
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <input type="text" class="form-control search__location" name="keyword" style=" height: 48px; word-spacing: 0.3em;" placeholder="Enter your location">
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <select class="form-control search__filter " style=" font-family:'Karla',sans-serif; font-weight: bold; " name="lgas" id="lgas">
                            <option value="">LOCAL GOVERNMENT</option>
                            <option value="1">ABUA/ODUAL</option>
                            <option value="2">AHAODA EAST</option>
                            <option value="3">AHAODA WEST</option>
                            <option value="4">AKUKU TORU</option>
                            <option value="5">ANDONI</option>
                            <option value="6">ASARI-TORU</option>
                            <option value="7">BONNY</option>
                            <option value="8">DEGEMA</option>
                            <option value="9">EMOHUA</option>
                            <option value="10">ELEME</option>
                            <option value="11">ETCHE</option>
                            <option value="12">GOKANA</option>
                            <option value="13">IKWERRE</option>
                            <option value="14">KHANA</option>
                            <option value="15">OBIA/AKPOR</option>
                            <option value="16">OGBA/EGBEMA/NDONI</option>
                            <option value="17">OGBU/BOLO</option>
                            <option value="18">OKRIKA</option>
                            <option value="19">OMUMMA</option>
                            <option value="20">OPOBO/NKORO</option>
                            <option value="21">OYIGBO</option>
                            <option value="22">PORT-HARCOURT</option>
                            <option value="23">TAI</option>
                          </select>
                        </div>
                      </div>                      

                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <select class="form-control search__filter " name="ward" id="ward"  style="word-spacing: 0.3em; font-family:'Karla',sans-serif; font-weight: bold; ">
                            <option value="">Ward</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-lg-3">
                        <div class="form-group">
                          <button style="background: rgb(17,68,168); width:100%;"  type="submit" data-ajax-response="map"  class="btn btn-primary"><i style="color:white; " class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <style type="text/css">
        .talk {
          color:white;
          margin:0px;
        }
        #complaintForm label {
          font-size: 12px;
        }
        .sentiment-header{
          background: #0544A8;
        }
        .sentiment-body{
          background: #0059E6;
          color: white;
          padding-bottom: 5%;
        }
        .sentiment-body  input,
        .sentiment-body  textarea {
          width: 100%;
          outline:none;
        }

        .sentiment__img{
          max-width:70px;
          max-height:70px;
        }

        .sentiment-body--heading{
          color:white;
          font-size:1.5em;
          line-height: 1;
          margin:20px auto;
        }
        .sentiment-header h4{
          font-size:2em;
          color:white;
          margin-top:15%;
        }
        .sentiment-body{
          height:450px !important;
          margin-right:0px;
          margin-left:0px;
        }
        .sentiment-header{
          height: 70px !important;
          margin:15px 0px;
          margin-bottom: 0px
        }
        @media (max-width: 568px){
          .sentiment{
            width: 100%;
            margin-top:5%;
            height: auto;
          }
          .sentiment-header h4{
            font-size:3em;
          }
        }
        
        .sentiment-body .search__input{
          width:68%;
          height: 30px;
          margin:0px;
          box-sizing:border-box;
        }
        .sentiment-body .search__submit{
          width:28%;
          margin:0px;
          height: 30px;
          box-sizing:border-box;
        }
        .search__submit{
          background: #00B1E6;
          outline:none;
          border:1px solid white;
        }
        .search{
          padding-top:20px;
        }
        .search__quick{
          cursor:pointer;
        }
        .sentiment-body h4{
          color:white;
          margin:5px auto;
        }
        .sentiment-body h4:nth-child(3){
          color:#00B1E6;
        }
        .search__list{
          height: 250px;
          overflow-y: scroll;
          background: white;
        }

        .search__list li a{
          color:black;
        }
        @media (min-width: 1600px){
          .sentiment-header{
            height:100px;
          }
        }

        .complaint__input{
          color:black !important;
          border: 1px solid #ffffff;
        }
      </style>
      <!-- sentiments analysis -->
      <section class="projects section" style="padding-top: 0px; margin-top: 0px;">
        <div class="container" >
          <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-11 col-md-11">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="pull-right" style="color:rgb(0,177,230);">COMMUNITY</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 sentiment" >
                  <div class="row sentiment-header" >
                    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <img src="img/complaintico.svg" class="img-responsive sentiment__img" >
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-8 col-lg-9" >
                      <h4 class=" sentiment-body--heading" style="font-size: 1em; margin-top:10%; margin-left:2%; ">REGISTER A COMPLAINT</h4>
                    </div>
                  </div>
                  <div class="row sentiment-body">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <form method="post" action="/complaint" id="complaintForm">
                          <div class="col-lg-12 col-md-12">
                            <p style="color:white; font-family: 'Poppins'; margin:10px auto; ">Talk to us, we are listening</p>
                            <label for="name" >NAME</label>
                            <br>
                            <input class="complaint__input" type="text" name="name" id="name"  />
                          </div>
                          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                            <label for="email" >EMAIL</label>
                            <br>
                            <input class="complaint__input" type="email" name="email" id="email"  />
                          </div>
                          <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                            <label for="phone" >PHONE NO.</label>
                            <br>
                            <input class="complaint__input" type="phone" name="phone" id="phone"  />
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <label for="location" >LOCATION</label>
                            <br>
                            <input class="complaint__input" type="text" name="location" id="location"  />
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <label for="complaint" >COMPLAINT</label>
                            <br>
                            <textarea class="complaint__input" name="complaint" id="complaint" style=" height: 150px;  ">
                            </textarea> 
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <button class="pull-right" type="submit" style="outline:none; margin-top:5%; border:none; padding: 1% 4% 1% 4%; color:white; background: #00B1E6; font-family:'Poppins' ">COMPLAIN</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 sentiment" >
                  <div class="row sentiment-header" style="padding:auto 0px; background: #00B1E6;">
                    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <img src="img/searchico.svg" class="img-responsive sentiment__img" >
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-8 col-lg-9" >
                      <h4 class=" sentiment-body--heading" style="font-size: 1em; margin-top:10%; margin-left:2%; ">FIND A SERVICE</h4>
                    </div>
                  </div>
                  <div class="row sentiment-body" style="background: #0544A8">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <form>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search">
                            <input type="text" name="search" class="search__input"  />
                            <input type="submit" name="" value="SUBMIT" style="outline:none; margin-top:5%; border:none; padding: 1% auto 1% auto; color:white; background: #00B1E6; font-family:'Poppins' "  class="search__submit">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <h4 class="col-lg-6 col-md-6 search__quick p-0">SEARCH ALL</h4>
                      <h4 class="col-lg-6 col-md-6 search__quick p-0">MOST POPULAR</h4>
                      <h4 class="col-lg-12 search__quick p-0">DEPARTMENTS/INITIATIVES</h4>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 search-services ">
                      <ul class="search__list">
                        <li><a> All Service Categories </a></li>
                        <li><a> Business & Economic Development</a></li>
                        <li><a> City Management & Performance</a></li>
                        <li><a> City Planning & Zoning</a></li>
                        <li><a> Community Development</a></li>
                        <li><a> Courts & Jury Duty</a></li>
                        <li><a> Education & Libraries</a></li>
                        <li><a> Environment & Sustainability</a></li>
                        <li><a> Fitness & Recreation</a></li>
                        <li><a> Garbage, Recycling & Junk</a></li>
                        <li><a> Health & Wellness</a></li>
                        <li><a> Jobs & Career Development</a></li>
                        <li><a> Legal & Professional Records</a></li>
                        <li><a> Permits, Applications & Licenses</a></li>
                        <li><a> Property Maintenance & Code Enforcement</a></li>
                        <li><a> Public Safety</a></li>
                        <li><a> Revenue & Taxes</a></li>
                        <li><a> Social Services</a></li>
                        <li><a> Streets, Sidewalks & Trees</a></li>
                        <li><a> Utilities</a></li>
                        <li><a> Vehicles, Parking & Transportation</a></li>
                        <li><a> Volunteer & Donate</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 sentiment" >
                  <div class="row sentiment-header" style="background: #707070; ">
                    <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <img style="" src="img/img-icon/twitter.svg" class="img-responsive sentiment__img " >
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-8 col-lg-9" >
                      <h4 class=" sentiment-body--heading" style="font-size: 1em; margin-top:10%; ">JOIN THE CONVERSATION</h4>
                    </div>
                  </div>
                  <div class="row sentiment-body" style="background: #F2F2F2;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div style=" background: #F2F2F2;   height:400px; margin-top:20px; overflow-y: scroll;">
                        <a class="twitter-timeline" href="https://twitter.com/GovWike?ref_src=twsrc%5Etfw">Tweets by GovWike</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- newsletter section -->
      <section class="section newsletter" style="margin-top:5%;">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
              <h3 class="sentiment-body--heading" style="color:#0544A8; font-weight: bold; ">NEWSLETTER - SUBSCRIPTION</h3>
              <input type="email" placeholder="ENTER EMAIL ADDRESS" name="email" id="newsletter" style="height: 7vh; padding:20px; color:white; background:rgb(149,149,149); width: 80%; margin-right:-0.3%; border:none"> <button id="newsletter_submit" style="/*height: 7vh; */width:100px; padding:15px 10px; background: rgb(0,177,230); color:white; margin-left:none; border:none;  word-spacing:0.3em;">JOIN</button>
            </div>
          </div>
        </div>
      </section>


      <!-- Footer -->
      <style type="text/css">
        .footer{
          margin-top:0px;
        }
        .newsletter{
          margin-bottom: 5%;
        }
      </style>

      <%- include includes/footer %>

      <!-- Lines -->

      
    </div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content" id="modal-content">
      <div class="row offset-xl-11 offset-11"> <span class="close">&times;</span> </div>
      <div class="row">
        <!-- for carousel part of voting centre -->
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 left">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" id="carouselHolder">
                
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 right">
          <div class="row">
            <div class="col-lg-12">
              <h3>Location of voting centre</h3>
              <p id="voting_centre_address"> Eliozu, Obio Akpor, Rivers State </p>
              <h3>Description of voting centre</h3>
              <p id="voting_centre_description">Etche community is vital in the state and they are the major food producers in the state and it is pertinent that we provide them with good roads so that they can easily bring their products to market and make more revenue for themselves.</p>
              <h3>Local Government Area</h3>
              <p id="voting_centre_lga"> Obio Akpor</p>
              <h3>Ward of Voting Centre</h3>
              <p id="voting_centre_ward"> Rumuodara I </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- SCRIPTS -->
<style type="text/css">
      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
          background-color: white;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 60%;
      }

      /* The Close Button */
      .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }
    </style>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/interface.js"></script> 
<script type="text/javascript">
  var newsletter_submit = document.getElementById('newsletter_submit');
  newsletter_submit.addEventListener('click',function(e){
    var new_subscriber = document.getElementById('newsletter').value;
    $.ajax({
      type: "POST",
      url: '/newsletter',
      data: {'email':new_subscriber},
      success: function(response){
        alert(response.message);
      },
    });
  })
    
</script>

<!-- complaint form script -->

<script type="text/javascript">
  var complaintForm = document.getElementById('complaintForm');
  complaintForm.addEventListener('submit',function(e){
    e.preventDefault();
    var details = {}
    details['name'] = document.getElementById('name').value;
    details['email'] = document.getElementById('email').value;
    details['phone'] = document.getElementById('phone').value;
    details['location'] = document.getElementById('location').value;
    details['complaint'] = document.getElementById('complaint').value;
    // check for empty input boxes
    for(var param in details){
      if(!details[param]){
        alert(param.toUpperCase() + ' cannot be empty...');
        return;
      }
    }
    $.ajax({
      type: "POST",
      url: '/complaint',
      data: details,
      success: function(response){
        alert(response.message);
        // clear the form
        for (var param in details){
          document.getElementById(param).value = '';
        }
      },
    });
  })
</script>

<!-- lgas code -->
<script type="text/javascript">
  var wards = {
  "13":["OZUAHA","UMUANWA","ISIOKPO II","OMAGWA","ISIOKPO I","ELELE I","ELELE II","OMERELU","APANI","UBIMA","OMADEME/IPO","IGWURUTA","ALUU"],
  "1":["ABUA I","ABUA II","ABUA III","ABUA IV","ANYU ADADA","EMUGHAN I","EMUGHAN II","OTAPHA","OKPEDEN","EMELEGO","EMAGO-UGBO","AKANI"],
  "2":["AHOADA I","AHOADA II","AHOADA III","AHOADA IV","AKOH I","AKOH II", "AKOH III","UPATA I","UPATA II","UPATA III","UPATA IV","UPATA V","UPATA VI"],
  "3":["EDIRO I","EDIRO II","JOINKRAMA","OKARKI","UBIE I","IGBUDUYA I","IGBUDUYA II","IGBUDUYA III","IGBUDUYA IV", "UBIE II","UBIE III","UBIE IV"],
  "4":["BRIGGS I","BRIGGS II","BRIGGS III","JACK I","JACK II","JACK III","ALISE GROUP","OBONOMA","MANUEL I","MANUEL II","MANUEL III","GEORGEWILL I","GEORGEWILL II","GEORGEWILL III","KULA I","KULA II","N-SOUTH GROUP"],
  "5":["NGO TOWN","UNYEN GALA","AGWUT-OBOLO","EKEDE","IKURU TOWN","UNYEADA I","UNYEADA II","SAMANGA","ASARAMA","ATABA I","ATABA II"],
  "6":["BUGUMA NORTH WEST II","BUGUMA SOUTH","BUGUMA SOUTH EAST","BUGUMA EAST I","BUGUMA EAST II","BUGUMA SOUTH WEST","BUGUMA NORTH EAST","BUGUMA WEST","BUGUMA NORTH WEST I","BUGUMA EAST WEST","ISIA GROUP I","ISIA GROUP II","WEST CENTRAL GROUP"],
  "7":["WARD II COURT/ ADA ALLISON","WARD I ORO-IGWE","WARD III OROSIRIRI","WARD IV NEW LAYOUT","WARD V FINIMA","WARD VI ABALAMABIE","WARD VII DEMA ABBEY","WARD III DAN JUMBO / BERESIRI","WARD IX NANABIE","WARD X OLOMA AYAMINIMA","WARD XII KALAIBIAMA","WARD XI PETERSIDE"],
  "8":["BAKANA I","BAKAN II","BAKANA III","BAKANA IV","BAKANA V","BAKANA VI","TOMBLE I","TOMBLE II","TOMBLE III","TOMBLE IV","DEGEMA I","DEGEMA II","DEGEMA III","OBUAMA","BUKUMA","BILLE","KE/OLD BAKANA"],
  "9":["EMOHUA II","OGBAKIRI I","OGBAKIRI II","EMOHUA I","OBELLE","IBAA","RUNDELE","RUMUEKPE","ELELE ALIMINI","OMUDIOGA/AKPADU", "EGBEDA","UBIMINI","ODEGU I","ODEGU II"],
  "10":["ALODE","ALESA","OGALE","EBUBU","EKPORO","ETEO","ONNE","AGBONICHIA","AKPAJO","ALETO"],
  "11":["AFARA","EGBU","IGBO I","IGBO II","IGBO III","EGWI/OPIRO","NIHI","ODUFOR","OBIBI/AKWUKABI","OBITE","OKEHI","OZUZU","ULAKWO","IGBODO","AKWA/ODOGWA","AKPOKU/UMUOYE","NDASHI","MBA","OWU"],
  "12":["K-DERE II","BIARA I","BODO I","BODO II","BODO III","B-DERE","K-DERE I","BOMU I","BOMU II","KPOR/LEWE/GBE","MOGHO","NWEOL/GIOKO/BARAKO","BIARA II","DERKEN/DEEYOR/NWERIBIARA","YEGHE I","YEGHE II","BERA"],
  "14":["BORI","ZAAKPORI","LLUEKU/NYOKURU","SOGHO","OKWALI","KAANI","BARGHA","TAABAA","BEERI","BANE","KONO/KWAWA","WIIYAA KARA","BOUE","UEGWERE","GWARA/KAA/EEKEN","OPUOKO/KALAOKO","SII/BETEM/KBAABBE","BAEN/KPEAN/DUBURO","LORRE/LUEBE/KPAA"],
  "15":["OROIGWE","RUMUODARA","RUMUOKWU","RUMUODUMANYA","ELELENWO","WOJI","RUMUOKORO","RUMUOMASI","RUMUEME (7A)","RUMUEME (7B)","OZUOBA RUMUEME (7C)","RUMUIGBO","CHOBA","RUMUOKWUTA","PUKPOKU","OGBOGORO","RUMUOLUMENI"],
  "16":["NDONI I","OMOKU TOWN V","OMOKU TOWN I","OMOKU TOWN II","OMOKU TOWN (OBIETI)","OMOKU TOWN IV (USOMINI)","USOMINI I (NORTH)","USOMINI II","IGBURU","EGI I","EGI II","EGI III","EGI IV","EGBEMA I","EGBEMA II","NDONI II","NDONI III"],
  "17":["OGU I","OGU II","OGU III","OGU IV","OGU V","OGU VI","BOLO I","BOLO II","BOLO III","BOLO IV","WAKAMA","ELE"],
  "18":["KALIO","OGOLOMA I","OGOLOMA II","OGOLOMA III","OKRIKA I","OKRIKA II","OKRIKA III","OKRIKA IV","OKRIKA V","OKRIKA VI","OKRIKA VII","OGAN"],
  "19":["EBERI-DIKEOMUO COMM/ ARIRAMRI","OWUAHIA COMMUNITY","OBIOHIA COMMUNITY","OHIMOGHO COMMUNITY","OYORO COMMUNITY","OFEH COMMUNITY","UMUOGBA I COMMUNITY","UMUOGBA II COMMUNITY","OBIBI","AJULOKE COMMUNITY","UMUAJULOKE COMMUNITY"],
  "20":["KALAIBIAMA I","KALAIBIAMA II","DIEPRI","URONU","DAPPAYE","AMAKIRI","DAPPAYE AMAKIRI II","JAJA","QUEENS TOWN","KALAMA","NKORO I","NKORO II","NKORO III"],
  "21":["OKOLOMA","OBEAKPU","EGBERU","UMUAGBI","AZUOGU","OBETE","OBEAMA","OYIGBO WEST","OYIGBO CENTRAL","KOM-KOM"],
  "22":["OROMINEKE","EZIMGBU","OROGBUM","ORABALI","OCHIRI","RUMUKALAGBOR","RUMUWOJI I","ELEKAHIA","OROWORUKWO","RUMUWOJI II","MGBUNDUKWU","DIOBU MGBUNDUKWU II","NKPOLU OROWORUKWO","RUMUOBIEKWE","OGBUNABALI","PORT-HARCOURT I","PORT-HARCOURT II","PORT-HARCOURT III","ABULOMA","AMADI-AMA"],
  "23":["BOTEM","GBENEO","KPITE","KOROKORO","HORO KOROMA","KIRA","BOROBARA","GIO-KPOGHOR-GBAM","NONWA","BARRYIRA","BARA-AZE","SIME","NANABE","BAN-OGOI"],
};

  var lgas = document.getElementById('lgas');
  lgas.addEventListener('change',function(e){
    var corresponding_wards = wards[e.target.value];
    var lga_wards = document.getElementById('ward');
    lga_wards.innerHTML = '';
    if(corresponding_wards.length > 0){
      corresponding_wards.forEach(function(ward){
        var option = document.createElement('option');
        option.value = ward;
        option.innerText = ward;
        lga_wards.appendChild(option);
      })
    }
    else{
      var option = document.createElement('option');
      option.value = "Wards";
      option.innerText = "Wards";
      lga_wards.appendChild(option);
    }
  })
</script>

<script type="text/javascript">
  function initMap() {
    // The location of ph 4.8156° N, 7.0498° E
    var voting_locations = <%- voting_centres %>;
    // The map, centered at Uluru
    var infowindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, center: {lat:4.8633799, lng:7.032226}});
    // The marker, positioned at Uluru
    var marker
    for(var i = 0; i < voting_locations.length; i++){
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(Number(voting_locations[i]['latitude']), Number(voting_locations[i]['longitude'])),
        map: map,
        id: voting_locations[i]['id'],
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          // we first identify the voting centre in the list of voting centres
          var location_id = this.id;
          var voting_centre;
          for(var i = 0; i < voting_locations.length; i++){
            if(voting_locations[i]['id'] == location_id){
              voting_centre = voting_locations[i];
              break;
            }
          }
          // now we fix up the views for the clicked voting centre
          // first we work on the carousel part of things.
          var carousel_controllers = `<ol class="carousel-indicators" >`;
          var carousel_items = '';
          for(var i = 0; i < voting_centre['images'].length; i++){
            if(i == 0){
              carousel_controllers += `<li data-target="#carouselExampleIndicators" data-slide-to="${i}" class="active"></li>`
              carousel_items += `<div class="item active">
                  <img style="margin-left:20px;" src="${voting_centre['images'][i]}" alt="${voting_centre['address']}">
                </div>`
            }
            else{
              carousel_controllers += `<li data-target="#carouselExampleIndicators" data-slide-to="${i}"></li>`
              carousel_items += `<div class="item">
                  <img style="margin-left:20px;" src="${voting_centre['images'][i]}" alt="${voting_centre['address']}">
                </div>`
            }
          }
          carousel_controllers +=  `</ol>`;
          document.getElementById('carouselHolder').innerHTML = carousel_controllers + carousel_items;
          // next we work on the information parts 

          var modal = document.getElementById('myModal');
          modal.style.display = 'block';
          document.getElementById('voting_centre_address').innerHTML = voting_centre['address'];
          document.getElementById('voting_centre_description').innerHTML = voting_centre['description'];
          document.getElementById('voting_centre_lga').innerHTML = voting_centre['lga'];
          document.getElementById('voting_centre_ward').innerHTML = voting_centre['ward'];

          window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
          }
          var modalClose = document.getElementsByClassName('close')[0];
          modalClose.addEventListener('click',function(e){
            modal.style.display = 'none';
          })
        }
      })(marker, i));
    }
    
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgcIBxOwvodgUpjE3v5mjZXJeQm77AtL4&callback=initMap">
  </script>
</body>
</html>