<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Government of Rivers State</title> 

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="img/img-icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/img-icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/img-icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/img-icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/img-icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/img-icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/img-icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/img-icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/img-icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/img-icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/img-icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/img-icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/img-icon/favicon-16x16.png">
<meta name="msapplication-TileImage" content="img/img-icon/ms-icon-144x144.png">

<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Karla:400,700i,700|Poppins:800" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/modifications.css" rel="stylesheet" media="screen">
<link href="css/xl.css" rel="stylesheet" media="screen">
</head>
<body>
  
    <!-- Loader -->

    
    <!-- Header -->

    
    <%- include includes/header %>
  <!-- Layout -->

  <div class="layout">
    <style type="text/css">
      .position{
        font-family: 'Karla';
        color: rgb(179,179,179);
        margin-top:0px;
        font-size:1.5em;
      }
      .names{
        font-size:2em;
        padding:0px;
        margin:0px;
        line-height: 1.2;
      }
      .bio{
        font-family: 'Karla'
      }
    </style>
    <!-- Home -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-lg-2">
            
          </div>
          <div class="col-md-6 col-lg-6">
            <img src="img/ecouncil/wike.png" class="img-responsive">
            <h4 class="names">GOVERNOR NYESOM</h4>
            <h4 class="names">EZEBUNWO WIKE</h4>
            <h4 class="position">GOVERNOR</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-lg-2"></div>
          <div class="col-md-10 col-lg-10">
              <p class="bio">
                His Excellency Chief (Barr.) Nyesom Ezenwo Wike (CON) (born 13 December 1967) is a Nigerian lawyer, Politician and present Governor of Nigeria’s oil-rich Rivers State. He is an Ikwerre from Rumuepirikom in Obio-Akpor, Rivers State, Nigeria. He is a member of the People’s Democratic Party.Chief (Barr.) Nyesom Ezenwo Wike (CON) was appointed Minister of State for Education on 14 July 2011.
              </p>
              <p class="bio">
                He was later appointed the Acting Minister of Education, and resigned from that federal position in order to successfully campaign for the Governorship Seat of Rivers State. In 2014, He won the Rivers State People’s Democratic Party Primary and chose a former Secretary to the Rivers State Government Dr. (Mrs) Ipalibo Harry-Banigo as his running mate for Deputy Governor.
              </p>
              <p class="bio">
                An outstanding Administrator, Lawyer, Leader and Politician, His Excellency Chief (Barr.) Nyesom Ezenwo Wike (CON) was born to the family of Reverend and Mrs. Nlemanya Wike of Rumuepirikom community, Rivers State.
              </p>
              <p class="bio">
                Chief (Barr.) Nyesom Ezenwo Wike (CON) holds Degrees in Political and Administrative Studies as well as Law. After a brief stint with private legal practice,Chief (Barr.) Nyesom Ezenwo Wike (CON) was elected twice as the Executive Chairman of Obio-Akpor Local Government Area. He served his two terms in office from 1999-2002 and 2004-2007. While in office, Chief Nyesom Wike also served as Deputy President, Association of Local Governments of Nigeria, ALGON, in 2004 and was later elected the President of ALGON. He also represented Africa as a member of the Executive Committee of the Commonwealth Local Governments Forum.
              </p>
              <div class="row">
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4 " style="margin:none">
                  <img src="img/slider/wike.jpg" style="height: 200px">
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12  col-md-4 " style="margin:none">
                  <img src="img/governor.JPG" style="height: 200px;">
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12  col-md-4 " style="margin:none">
                  <img src="img/slider/wike.jpg" style="height: 200px;">
                </div>
              </div>
              <p class="bio" style="margin-top:3%;">
                His Excellency,Chief (Barr.) Nyesom Ezenwo Wike (CON) distinguished himself as the best performing Local Government Council Chairman in Rivers State. As Council Chairman, he embarked on iconic projects that re-defined council administration and set the right example for his colleagues. As ALGON National President, Chief (Barr.) Nyesom Ezenwo Wike (CON), played a Pioneering role in National Security and Primary Healthcare, leading all local councils to commit themselves to high level grassroots development across the country.
              </p>
              <p class="bio">
                Between October 26, 2007 and May 28th 2011,Chief (Barr.) Nyesom Ezenwo Wike (CON) served as the Chief of Staff, Government House, Port Harcourt and was appointed the Director-General of (former) Governor Amaechi’s Re-election Campaign Organization. On the 14th of July, 2011,Chief (Barr.) Nyesom Ezenwo Wike (CON) was subsequently appointed and sworn-in as the Honorable Minister of State for Education.
              </p>
              <p class="bio">
                Following a Federal Cabinet reorganisation, Chief (Barr.) Nyesom Ezenwo Wike (CON) emerged the nation’s Supervising Minister of Education on September 12, 2013.
              </p>
              <p class="bio">
                As the Minister of State for Education,Chief (Barr.) Nyesom Ezenwo Wike (CON) made remarkable impact in the basic education sub-sector, spear-heading a nationwide reform of the nation’s education system.
              </p>
              <p class="bio">
                The fundamental programmes that were driven by the former Minister of State for Education include the creation of access to Quality Education for 9 million Almajiri children in Northern Nigeria through the construction of dedicated schools in affected states, construction of basic education vocational training schools for out-of-school children in Southern Nigeria and Special Girl-Education Schools for less privileged girls in 16 states of the country.
              </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-4 col-xs-4 col-lg-8"></div>
          <div class="col-md-4 col-sm-8 col-xs-8 col-lg-4 pull-right " style="display: inline-block;">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 pull-left " style="margin-right: 0px; padding:0px">
              <img src="img/ecouncil/banigo.png"  class="img-responsive">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 pull-left ">
              <h5 style="font-family:'Poppins' ">BARR. NYESOM WIKE</h5>
              <h4 style="color:rgb(179,179,179); font-family: 'Poppins'; "> GOVERNOR </h4>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 pull-right ">
              <a href="/biography.html"><i class="fa fa-angle-right fa-5x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    


    <%- include includes/footer %>
  </div>

<!-- SCRIPTS -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/interface.js"></script> 



</body>
</html>