p,h4,h3,h5,a {
    color:rgb(5,68,168);
}   

a {
    font-weight: bold;
}


.quicklinks{
    width:23%;
    margin: 1% 1% 1% 1%;
}

.navbar-mobile{
    background: white;
}



.icon-bar{
    background: rgb(5,68,168);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-size: 1em;
    font-weight: bold;
    padding-left:5%;
    font-family: 'Karla', sans-serif !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  white;
    font-size: 1.5em;
    font-weight: bold;
    padding-left:5%;
    font-family: 'Karla', sans-serif !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:  white;
    font-size: 1.5em;
    font-weight: bold;
    padding-left:5%;
    font-family: 'Karla', sans-serif !important;
}
*{
    line-height: 1.2;
}

@media (max-width:993px){
  .brand-panel, .vertical-panel-content{
    display:none;
  }
}



