<!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">
                  <img src="img/statelogo.png" class="img-responsive" style="width:10%; height:10%;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="dashboard/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="dashboard/assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="dashboard/assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="dashboard/assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="dashboard/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Ministry Information <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Ministry</a>
                                            <div id="submenu-1-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/ministry">Add Ministry</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=ministry">Update Ministry</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=ministry">Remove Ministry</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">Agency</a>
                                            <div id="submenu-1-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/agency">Add</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=agency">Update</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=agency">Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-3" aria-controls="submenu-1-3">Department</a>
                                            <div id="submenu-1-3" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/department">Add</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=department">Update</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=department">Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-4" aria-controls="submenu-1-4">Director</a>
                                            <div id="submenu-1-4" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/director">Add</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=director">Update</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=director">Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="Showcase a major project embarked upon by the ministry" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-5" aria-controls="submenu-1-5">Highlight</a>
                                            <div id="submenu-1-5" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/highlight">Add</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=highlight">Update</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=highlight">Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="Update information on the objectives of the ministry" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-6" aria-controls="submenu-1-6">Objectives</a>
                                            <div id="submenu-1-6" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/objective">Add</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=objective">Update</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=objective">Remove</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Projects</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2-1" aria-controls="submenu-2-1">New Project</a>
                                            <div id="submenu-2-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/project">Add Project</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=project">Update Project</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=project">Remove Project</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2-2" aria-controls="submenu-2-2">Project Phase</a>
                                            <div id="submenu-2-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/phase">Add Phase</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=phase">Update Phase</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=phase">Remove Phase</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2-3" aria-controls="submenu-2-3">Project Benefit</a>
                                            <div id="submenu-2-3" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/benefit">Add Benefit</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=benefit">Update Benefit</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/update?type=benefit">Remove Benefit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Executive Council</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/executive" title="Add a new executive to the state executive council. For example, you add a new commissioner or the governor into the system">Add Executive</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="update a particular executive information from the list of executives information on the system." href="/update?type=executive">Update Executive</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="remove an executive from the system" href="/update?type=executive">Remove Executive</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-fw fa-chart-pie"></i>State Legislature</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/legislature" title="Add a new legislator to the state house of assembly. ">Add Legislator</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="update a particular legislator information from the list of legislature information on the system." href="/update?type=legislature">Update Legislator</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="remove a legislator from the system" href="/update?type=legislature">Remove Legislator</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-chart-pie"></i>Judiciary Council</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/judiciary" title="Add a new judge to the state judiciary council. ">Add a judge</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="update a particular judge information from the list of judges in the judiciary council on the system." href="/update?type=legislature">Update a judge</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="remove a judge from the judiciary council" href="/update?type=legislature">Remove a judge</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-chart-pie"></i>Traditional Council</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/ruler" title="Add a new king to the traditional rulers council">Add a traditional ruler</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="update a particular king information on the traditional rulers' council" href="/update?type=ruler">Update a traditional ruler</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="remove a particular traditional ruler from the council" href="/update?type=ruler">Remove a traditional ruler</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-chart-pie"></i>Local Government Areas</a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/lgas" title="Add a new L.G.A.">Add an L.G.A.</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="update an L.G.A. information" href="/update?type=lgas">Update an L.G.A.</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" title="remove an L.G.A from the list of L.G.A.s" href="/update?type=lgas">Remove an L.G.A.</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fab fa-fw fa-wpforms"></i>Media</a>
                                <div id="submenu-8" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8-1" aria-controls="submenu-8-1"><i class="fas fa-fw fa-chart-pie"></i>Pictures</a>
                                            <div id="submenu-8-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/media" title="add a new picture based on the different albums in the gallery">Add new</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" title="view pictures as they are arranged in different albums on the platform" href="/view?type=image">View pictures</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" title="remove a particular picture in an album on the pictures gallery" href="/view?type=image">Remove pictures</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8-2" aria-controls="submenu-8-2"><i class="fas fa-fw fa-chart-pie"></i>Videos</a>
                                            <div id="submenu-8-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/media" title="add a new video based on the different albums in the gallery">Add new</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" title="view pictures as they are arranged in different albums on the platform" href="/view?type=video">View videos</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" title="remove a particular picture in an album on the pictures gallery" href="/view?type=video">Remove videos</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8-3" aria-controls="submenu-8-3"><i class="fas fa-fw fa-chart-pie"></i>Documents</a>
                                            <div id="submenu-8-3" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/media" title="add a new document based on the different folders on the system">Add new</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" title="view pictures as they are arranged in different folders on the system" href="/view?type=documents">View documents</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" title="remove a particular document in a folder on the system" href="/view?type=documents">Remove documents</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-file"></i> News </a>
                                <div id="submenu-9" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/news">Add news</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/update?type=news">Update news</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/update?type=news">Remove news</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-fw fa-thumbs-up"></i>Voting Centres </a>
                                <div id="submenu-10" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/voting_centre">Add a voting centre</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/update?type=voting_centre">Update a voting centre</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/update?type=voting_centre">Remove a voting centre</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->